/* Base Styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background-color: #659F8F;
    --dark-color: #313131;
    --tertiary-color: #E76438;
}

/* Footer */

footer {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: var(--dark-color);
    padding: 10vh 10vw;
    border-radius: 10px;
}

/* Container - Top */

.container-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px var(--tertiary-color) solid;
    padding-bottom: 6vh;
}

.section-subscription {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.quick-links,
.technologies-links {
    grid-column: span 1;
}

.tablet-links {
    display: none;
}

/* Container - Top (Left Side) */

.title {
    font-size: 1.25rem;
}

.email-entry,
.subscribe-button {
    font-size: 0.75rem;
    padding: 0.75em;
    border: none;
    border-radius: 0.5em;
}

.subscribe-button {
    font-weight: bold;
    background-color: var(--tertiary-color);
    color: white;
    margin-left: 0.75vw;
    letter-spacing: 0.5px;
    cursor: pointer;
    padding: 0.75em 1.5em;
    transition: all 0.5s ease;
}

.subscribe-button:hover {
    transform: translateY(-4px);
    background-color: #FF6937;
}

/* Container - Top (Right Side) */

.quick-links,
.technologies-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links-title {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.list {
    list-style: none;
}

.list-item {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 0.75rem;
    line-height: 2;
}

/* Container - Bottom */

.container-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 4vh;
    width: 100%;
    height: auto;
}

.image {
    display: flex;
}

.codespace-logo {
    width: 65%;
    height: auto;
}

.social-media-icons {
    display: flex;
    align-items: center;
    color: white;
    width: 50%;
}

.icon {
    width: 10%;
    height: auto;
    opacity: 0.5;
    transition: transform 0.25s ease;
}

.icon:hover {
    transform: scale(1.25);
}

/* Media queries - Extra Small Devices */

@media (max-width: 599px) {
    footer {
        height: 100vh;
    }
    .container-top {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }
    .title {
        padding-bottom: 20px;
    }
    .form {
        display: flex;
        flex-direction: column;
    }
    .email-entry,
    .subscribe-button {
        padding: 1em 0.75em;
    }
    .subscribe-button {
        margin: 20px 0;
    }
    .technologies-links {
        padding: 20px 0;
        margin-bottom: 0;
    }
    .container-bottom {
        padding: 20px 0;
        flex-direction: column;
        justify-content: space-between;
    }
    .image {
        margin-bottom: 20px;
    }
    .icon {
        width: 35%;
    }
}

/* Media queries - Small Devices */

@media (min-width: 600px) and (max-width: 767px) {
    .container-top {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }
    .title {
        padding-bottom: 20px;
    }
    .normal-links {
        display: none;
    }
    .tablet-links {
        display: grid;
        margin: 20px 0;
        grid-template-columns: repeat(2, 1fr);
    }
    .icon {
        width: 17.5%;
    }
}