/* Base Styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background-color: #659F8F;
    --background-dark-color: #313131;
    --tertiary-color: #D86943;
}

/* Footer */

footer {
    font-family: "Roboto", sans-serif;
    background-color: #659F8F;
    color: var(--background-dark-color);
    padding: 10vh 10vw;
}

/* Container - Top */

.container-top {
    border: 2px red solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/* Section - Subscription */

.section-subscription {
    border: 2px solid yellow;
    width: 50%;
}

.title {
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.email-entry-field {
    font-size: 0.8rem;
    margin-right: 0.5vw;
}

.subscribe-button {
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--tertiary-color);
    color: white;
}

.email-entry-field,
.subscribe-button {
    padding: 0.4rem 0.8rem;
    border-color: transparent;
    border-radius: 0.4em;
}

/* Section - Links */

.section-links {
    border: 2px solid blue;
    width: 50%;
    display: flex;
}

.list {
    list-style: none;
}

/* Container - Separator */

.container-separator {
    border: 2px yellow solid;
    background-color: var(--tertiary-color);
    height: 2px;
    width: 100%;
    margin: 10px 0;
}

/* Container - Bottom */

.container-bottom {
    border: 2px red solid;
    padding: 20px 0;
    width: 200px;
    height: auto;
}